* {
    transition: all 0.2s ease-in;
    text-transform: capitalize;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width:10px;
}

::-webkit-scrollbar-track {
    background: gray;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:red;
}

.container {
    padding:10px;
    margin:0 20px;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    left:0;
    width:100%;
    top:0;
    background: #fff;
    z-index:10;
    height:70px;
    position:sticky;
    
}

.home {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left:20px;
}

.home a {
    font-size:20px;
    color:darkblue;
    padding-left:10px;
    text-decoration: none;
}

.home a:hover {
    color:red;
}

.menu {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.menu a {
    text-decoration: none;
    padding-right:20px;
    color:darkblue;
    font-size: 20px;
}

.menu a:hover {
    color:red;
}

.btn {
    padding: 12px 15px;
    color:white;
    background:red;
    outline:none;
    font-size: 17px;
    border:none;
    border-radius: 8px;
    margin-right: 20px;
}

.btn:hover {
    color:white;
    background:rgb(5, 95, 186);
    transform: scaleY(1.10);
}


.title {
    font-size: 50px;
    color:darkblue;
    font-weight:bold;
}
.sub-title {
    font-size: 18px;
    color:darkblue;
    word-spacing: 3px;
}

#intro {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    align-items: center;
    padding:20px;
    margin-top:100px;
}
.img {
    width:500px;
    height:auto;
}
.img>img {
    width:500px;
    height:auto;
}

.sub-heading {
    font-size:45px;
    color:darkblue;
    text-align: center;
}
.heading {
    color:darkblue;
    font-size: 20px;
    text-align:center;
}
#features {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
    align-items: center;
    justify-content: center;
    padding:20px;
}
.feature-link {
    text-decoration: none;
    color:red;
    font-size:17px;
    font-weight: 600;
}
.feature-link:hover {
    text-decoration: underline;
    color:darkblue;
    letter-spacing: 1px;
}

.feature-title {
    color:darkblue;
    font-size: 24px;
    text-align:left;
    font-weight:600;
}
.feature-sub-title {
    color:rgb(14, 8, 8);
    font-size: 20px;
    text-align:left;
    font-weight:500;
}
.chevron {
    margin-left:6px;
    font-size:15px;
    align-items: center;
    
}

#services {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    align-items: left;
    padding:20px;
    margin-top:30px;
}

.heading-services {
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
}

.sub-heading-services {
    text-align: left;
    font-size: 35px;
    padding-left:15px;
    font-weight: bolder;
    color:darkblue;
}

.service1 {
    padding:2px;
    width:400px;
    background-color: hsl(0, 4%, 82%);
    border-radius:10px;
    margin-bottom:20px;
}
.service2 {
    padding:2px;
    width:400px;
    background-color: hsl(0, 4%, 82%);
    border-radius:10px;
    margin-bottom:20px;
    margin-left:50px;
}
.service3 {
    padding:2px;
    width:400px;
    background-color: hsl(0, 4%, 82%);
    border-radius:10px;
    margin-bottom:20px;
}
.service4 {
    padding:2px;
    width:400px;
    background-color: hsl(0, 4%, 82%);
    border-radius:10px;
    margin-bottom:20px;
    margin-left:50px;
}

.service-item {
    font-size:18px;
    padding-left:30px;
    font-weight: bold;
    color:black;  
}

#blog {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    justify-content: center;
    padding:10px;
    gap:20px;
}
.blog-card {
    background-color: beige;
    border-radius: 10px; 
}

.blog-card:hover .blog-image {
    cursor: pointer;
    transform:scale(1.08);
    transition: .3s linear;
}

.blog-card:hover .blog-sub-title  {
    cursor: pointer;
    color:red;
}

.blog-image-container {
    width:auto;
    height:auto;
    overflow: hidden;
}

.blog-image {
    object-fit: cover;
    width:100%;
    height:auto;
}

.blog-content {
    margin: 20px 20px;
}

.blog-title {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:30px;
}

.blog-sub-title {
    color:darkblue;
    font-size: 22px;
    font-weight: bold;
    margin-top: 1px;
}

.menus >a {
    text-decoration: none;
    display:block;
    font-size: 20px;
    font-weight:bold;
    color:red;
    padding:20px;
}

#newsletter {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
    align-items: left;
    padding:20px;
    margin-top:30px;
}

.newsletter-heading {
    font-size:20px;
    color:black;
    font-weight: 500;
}

.newsletter-sub-heading {
    font-size:45px;
    color:darkblue;
    text-align: left;
    font-weight:600;
    padding-left:50px;
}

.form-group {
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: flex-start;
    align-items: center;
}
.form >input {
    padding:15px;
    width:350px;
    border-radius:8px;
    background-color: hsl(0, 0%, 100%);
    outline:none;
    border:1px solid #ccc;
    
}

.form >input:focus {
    border:1px solid rgba(255,0,0,0.7);
}

.nav{
    position: absolute;
    display:none;
    text-decoration:none;
    place-items: center;
    top:10%;
    left:0;
    right:0;
    height:100vh;
    z-index:10;
    background-color: #c6d7d7;
    text-align: center;
    padding:10px;
}








@media  (max-width: 768px){
    #features{
        grid-template-columns:100%;
    }
    #intro {
        grid-template-columns: 100%;
    }
    #services {
        grid-template-columns: 100%;
    }
    .menu {
        display:none;
    }
    .service1, .service2, .service3,.service4 {
        margin-left:0;
        width:100%;
    }
    #blog {
        grid-template-columns: 100%;
    }
    #newsletter {
        grid-template-columns: 100%;
    }
    #get-started-btn{
        display:none;
    }
    .nav {
        display:block;
    }
    }


    



