* {
    transition: all 0.2s ease-in;
    text-transform: capitalize;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    scroll-behavior: smooth;
    margin:0;
    padding:0;
}
html {
    overflow-x:hidden;
}

::-webkit-scrollbar {
    width:10px;
}

::-webkit-scrollbar-track {
    background: gray;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:red;
}

.container {
    padding:10px;
    margin:0 20px;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:40px;
    left:0;
    width:100%;
    top:0;
    background: #fff;
    z-index:10;
    height:70px;
    position:sticky;
    
}

.home {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left:20px;
}

.home-favicon {
    width:50px;
    height:auto;
}

.home a {
    font-size:21px;
    color:darkblue;
    padding-left:10px;
    text-decoration: none;
    font-weight: 600;
}

.home a:hover {
    color:red;
    transition: .1s linear;
}

.menu {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.menu a {
    text-decoration: none;
    padding-right:30px;
    color:rgb(16, 16, 113);
    font-size: 18px;
    font-weight:600;
}

.menu a:hover {
    color:red;
}

.nav-btn {
    padding: 12px 30px;
    color:white;
    background:red;
    outline:none;
    font-size: 17px;
    border:none;
    border-radius: 5px;
    margin-right:20px;
}

.nav-btn:hover {
    color:white;
    background:rgb(5, 95, 186);
    transform: scale(1.05);
    cursor:pointer;
}

.btn {
    padding: 12px 30px;
    color:white;
    background:red;
    outline:none;
    font-size: 17px;
    border:none;
    border-radius: 5px;
    margin-left:15px;
}
.btn:hover {
    color:white;
    background:rgb(5, 95, 186);
    transform: scaleX(1.05);
    cursor:pointer;
}

.title {
    font-size: 50px;
    color:rgb(16, 16, 113);
    font-weight:bold;
    padding:10px;
}
.sub-title {
    font-size: 20px;
    color:rgb(16, 16, 113);
    word-spacing: 3px;
    padding:10px 15px;
}

#intro {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    align-items: center;
    padding:20px;
    margin-top:80px;
}
.img {
    width:500px;
    height:auto;
}
.img>img {
    width:500px;
    height:auto;
}

.sub-heading {
    font-size:45px;
    color:rgb(16, 16, 113);
    text-align: center;
    padding-bottom:30px;
}
.heading {
    color:rgb(16, 16, 113);
    font-size: 20px;
    text-align:center;
    padding-bottom:15px;
}
#features {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
    align-items: center;
    justify-content: center;
    padding:20px;
}
.feature-link {
    text-decoration: none;
    color:red;
    font-size:17px;
    font-weight: 600;
    padding:10px 0;
}
.feature-link:hover {
    text-decoration: underline;
    color:rgb(16, 16, 113);
    letter-spacing: 1px;
}

.feature-title {
    color:rgb(16, 16, 113);
    font-size: 24px;
    text-align:left;
    font-weight:600;
    padding:10px 0;
}
.feature-sub-title {
    color:rgb(14, 8, 8);
    font-size: 20px;
    text-align:left;
    font-weight:500;
    padding:10px 0;
}
.chevron {
    margin-left:6px;
    font-size:15px;
    align-items: center;
    
}

#services {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    align-items: left;
    padding:20px;
    margin-top:30px;
}

.heading-services {
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    padding-bottom:15px;
}

.sub-heading-services {
    text-align: left;
    font-size: 35px;
    font-weight: bolder;
    color:rgb(18, 18, 110);
    padding-bottom:30px;
}

.service1 {
    padding:15px;
    width:450px;
    background-color: hwb(0 92% 7%);
    border-radius:10px;
    margin-bottom:25px;
}
.service2 {
    padding:15px;
    width:450px;
    background-color: hwb(0 92% 7%);
    border-radius:10px;
    margin-bottom:25px;
    margin-left:50px;
}
.service3 {
    padding:15px;
    width:450px;
    background-color: hwb(0 92% 7%);
    border-radius:10px;
    margin-bottom:25px;
}
.service4 {
    padding:15px;
    width:450px;
    background-color: hwb(0 92% 7%);
    border-radius:10px;
    margin-bottom:25px;
    margin-left:50px;
}

.service-item {
    font-size:19px;
    padding-left:30px;
    font-weight: bold;
    color:rgb(18, 18, 110); 
}

.fa-check {
    margin-right:15px;
    padding:10px 11px;
    border-radius:50%;
    background:white;
    color:rgb(16, 16, 46);
    font-size:18px;
}

.service-item:hover .fa-check {
    background: red;
    color:white;
    transform:scale(1.02);
    cursor:pointer;
    transition: .1s linear;
}
#blog {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    justify-content: center;
    padding:10px;
    gap:20px;
}
.blog-card {
    background-color: hwb(0 92% 7%);
    border-radius: 10px; 
}

.blog-card:hover .blog-image {
    cursor: pointer;
    transform:scale(1.08);
    transition: .3s linear;
}

.blog-card:hover .blog-sub-title  {
    cursor: pointer;
    color:red;
}

.blog-image-container {
    width:auto;
    height:auto;
    overflow: hidden;
}

.blog-image {
    object-fit: cover;
    width:100%;
    height:auto;
}

.blog-content {
    margin: 20px 20px;
}

.blog-title {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:30px;
    margin-bottom:15px;
}

.blog-sub-title {
    color:rgb(18, 18, 110); 
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

#newsletter {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
    align-items: left;
    padding:30px;
    margin-top:30px;
}
.newsletter-content {
    margin-top:120px;
}
.newsletter-heading {
    font-size:19px;
    color:black;
    font-weight: 500;
    padding-bottom:12px;
}

.newsletter-sub-heading {
    font-size:40px;
    color:rgb(18, 18, 110); 
    text-align: left;
    font-weight:600;
    padding-bottom:30px;
}

.form-group {
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: flex-start;
    align-items: center;
}
.form >input {
    padding:18px;
    width:350px;
    font-size: 19px;
    border-radius:6px;
    background-color: white;
    outline:none;
    border:1px solid #ccc;
    
}

.form >input:focus {
    border:1px solid rgba(255,0,0,0.7);
}
.subscribe-btn {
    padding: 18px 25px;
    color:white;
    background:red;
    outline:none;
    font-size: 17px;
    border:none;
    border-radius: 5px;
    margin-right:20px;
}

.subscribe-btn:hover {
    color:white;
    background:rgb(5, 95, 186);
    transform: scaleY(1.05);
    box-decoration-break: slice;
    cursor:pointer;
}


#footer-container {
    background-color:rgb(239, 232, 232);
    margin-top:80px;
    padding:20px 40px;
    align-items: center;
    justify-content: center;
}

.footer {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    justify-content: center;
    padding:20px;
    z-index:10;
    color:hsl(240, 65%, 18%);
}
.about-content {
    font-size: 18px;
    color:hsl(240, 65%, 18%);
    padding-bottom:10px;
    word-spacing: 3px;
}

.location {
    font-size: 18px;
    color:hsl(240, 65%, 18%);
}

.quick-links >a {
    display:block;
    text-decoration: none;
    font-size: 18px;
    color:hsl(240, 65%, 18%);
    padding:8px;
}
.quick-links >a:hover {
    color:red;
    padding-left:3px;
    text-decoration: underline;
}

.icon {
    font-size:19px;
    margin-right:25px;
    color:red;
    padding:10px;
    background:#fff;
    border-radius: 50%;
}

#location-icon {
    padding:10px 12px;
    color:red;
}

#location-icon:hover {
   background: red;
   color:white;
}

.hr {
    opacity:0.5;
}

.contact {
    background:#fff;
    border-radius:6px;
    align-items:center;
    padding:15px;
    height: 120px;
}
.contact-item {
    font-size:17px;
    font-weight:500;
    text-decoration: none;
    color:hsl(240, 65%, 18%);
   
}
.contact-item:hover {
    color:red;
    cursor:pointer;
}
.contact-item:hover .icon{
    background:red;
    color:white;
    cursor:pointer;
}

h2{
    font-weight:bolder;
    padding-bottom:10px;
}
#extra-quicklinks {
    margin-top:40px;
}
.footer-logo {
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: center;
}

.img-favicon {
    width:45px;
    height:auto;
}

.footer-bottom {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
    background:rgb(19, 19, 74);
    font-size: 17px;
    color:white;
    margin-bottom:0;
    padding:25px;
    left:0;
    bottom:0;
    right:0;
}
.footer-bottom-item {
    padding-left: 60px;
}

.social-media-icons {
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    align-items:center;
    margin-right:50px;
}

.social-brands {
    font-size:20px;
    color:white;
    background:#535387;
    padding:8px;
    border-radius:50%;
}
.social-brands:hover {
    background:red;
    transform:scale(1.07);
    transition:.3s ease-in-out;
    cursor:pointer;
}

.nav{
    position: absolute;
    display:none;
    text-decoration:none;
    place-items: center;
    top:10%;
    left:0;
    right:0;
    height:100vh;
    z-index:10;
    background-color: #c6d7d7;
    text-align: center;
    padding:10px;
}






/* Media Queries */
@media  (max-width: 768px){
    #features{
        grid-template-columns:100%;
    }
    #intro {
        grid-template-columns: 100%;
    }
    #services {
        grid-template-columns: 100%;
    }
    .menu {
        display:none;
    }
    .service1, .service2, .service3,.service4 {
        margin-left:0;
        width:100%;
    }
    #blog {
        grid-template-columns: 100%;
    }
    #newsletter {
        grid-template-columns: 100%;
    }
    #get-started-btn{
        display:none;
    }
    .footer {
        grid-template-columns:100%;
    }
    .img {
        width:100%;
        height:auto;
    }
    .img>img {
        width:100%;
        height:auto;
    }
    .form >input {
        padding:15px;
        width:100%;
        font-size: 17px;
    }
    .subscribe-btn {
        padding: 15px 20px;
        font-size: 16px;
        margin-right:10px;
        width: 100%;
    }
    .title, .sub-heading {
        font-size: 35px;
    }

}


@media (min-width: 1000px) {
    .container {
        padding:10px;
        margin:0 100px;
    }
}
